<!DOCTYPE html>
<html th="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Update Password</title>

</head>
<body>
	<section>
		<div class="container pt-5">
			<div class="column">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Forget Password
							Page</div>
						<div class="card-body">
							<th:block th:if="${session.msg}">
								<p class="text-center fs-4 btn-success">[[${session.msg}]]</p>
								<th:block th:text="${@sessionHelper.removeMessage()}"></th:block>
							</th:block>
							<form action=updatePassword method="post">
								<label>Enter Email</label>
								<div class="mb-3">
									<input type="email" name="email" class="form-contorl">
								</div>
								<label>Enter Token</label>
								<div class="mb-3">
									<input type="text" name="token" class="form-contorl">
								</div>
								<label>Enter New Password</label>
								<div class="mb-3">
									<input type="text" name="newPassword" class="form-contorl">
								</div>
								<div>
									<button class="btn btn-primary col-md-12">Submit</button>
								</div>
							</form>
							<div class="text-center mt-2">
								<a th:href="@{/signin}" class="text-decoration:none fs-S">Login
									Page</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>